.form-group {
  width: 70%;
  margin-left: 10rem;
}

.foto {
  margin-left: 40rem;
}
.form-label {
  margin-left: 40rem;
}
form,
input,
textarea {
  width: 80%;
  /* margin-left: 25%; */
}
.form2 {
  width: 50%;
  margin-left: 30%;
}

.form-group label {
  display: block;
  margin: 2rem 0 0.5rem 0;
  width: 50%;
}

.form-group
  input[type="text"]
  .form-group
  input[type="number"]
  .form-group
  textarea {
  width: 50%;
  padding: 1rem 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  transition: border 0.15s;
}
.form-group input[type="text"] .form-group input[type="number"] {
  height: 10rem;
}

.form-group textarea {
  resize: vertical;
}

.btn-group {
  margin-left: 15rem;
  width: 50%;
}

.navbar-logo {
  width: 40px;
  height: 15px;
  margin-left: 40rem;
}

.bhs {
  margin-left: 40rem;
}
.container h2 {
  margin-left: 35rem;
}

.container h3 {
  margin-left: 5rem;
}
.container p {
  margin-left: 40rem;
}
