/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

header {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  font-weight: 500;
  font-size: 25px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin: 0 12px;
}

li a {
  text-decoration: none;
  color: #0d6efd;
  font-size: 16px;
}

.active {
  padding: 12px 16px;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 5px;
}

/* banner */

#banner-section {
  background-color: #37517e;
  color: #fff;
  display: flex;
  height: 120vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container p {
  margin: 0 auto;
}

.banner-img {
  position: relative;
  top: -270px;
}

.banner-img img {
  float: right;
  width: 52%;
  height: 52%;
}

.banner-desc {
  font-family: "Jost", sans-serif;
  margin-top: 13em;
}

.banner-desc h1 {
  font-size: 48px;
  text-transform: capitalize;
}

.banner-desc p {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.6);
  margin: auto;
}

.banner-button {
  margin-top: 10px;
}

.btn {
  border: none;
  padding: 9px 28px;
  cursor: pointer;
  border-radius: 100px;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.primary-button {
  background-color: #47b2e4;
  font-family: "Jost", sans-serif;
}

.banner-button {
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
}

#join-section {
  text-align: center;
  background-color: #eaeef7;
  height: 239px;
}

.join {
  padding: 50px 0;
}

.join h1 {
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #37517e;
}

.join p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 32px;
}

.join input {
  border-radius: 100px;
  border: none;
  color: #0c0c0c;
  flex: 1;
  margin-left: 100%;
}
form {
  margin-left: 23%;
}

.join .submit-input {
  z-index: 2;

  margin-top: 20px;
}

footer {
  background-color: #37517e;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0;
}

footer p {
  font-size: 15px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

#profile-section {
  height: 339.19px;
  padding: 60px 80px 30px;
}

.company-name {
  color: #37517e;
  font-family: "Jost", sans-serif;
  font-size: 26px;
}

.company-links {
  color: #37517e;
  font-family: "Jost", sans-serif;
  font-size: 16px;
}

#profile-section .container {
  display: flex;
  justify-content: space-between;
}

.address {
  color: #5e5e5e;
  font-family: "Jost" sans-serif;
}

.phone-num {
  color: #5e5e5e;
  font-family: "Jost" sans-serif;
}

.Links {
  color: #777777;
  font-family: "Open Sans";
}

#About {
  margin-top: 20px;
  font-size: 14px;
}

#web {
  margin-top: 20px;
  font-size: 14px;
}

#des1 {
  margin-top: 20px;
  font-size: 14px;
}

#des2 {
  font-size: 14px;
}

#lingkaran {
  margin-top: 10px;
  width: 36px;
  height: 36px;
  background-color: #47b2e4;
  border-radius: 18px;
}

#lingkaran1 {
  margin-left: 5px;
  margin-top: 10px;
  width: 36px;
  height: 36px;
  background-color: #47b2e4;
  border-radius: 18px;
}

.ling {
  display: flex;
}

#bot {
  color: #47b2e4;
}
